.App {
  text-align: center;
  display: flex;
  align-items: center;
}

#Home {
  display: flex;
  margin: 10px;
}

#HomeContainer {
  display: flex;
  flex-direction: column;
}

.CheckboxWrapper {
  display: flex;
  flex-direction: column;
}

.CheckboxWrapper label {
  margin: 1rem
}

